/*Utilities*/
/*Colores a usar en la web*/
/*Espaciados*/
/*Fonts*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer; }

.img-fluid {
  margin: 3px; }

.explorar-contacto {
  margin-top: 6vh; }

/*Usando Mixin*/
.explorar-index {
  margin: 50px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center; }

.explorar .img-container {
  width: 100%;
  height: 100%; }

.explorar .texto, .explorar p {
  text-align: center;
  justify-content: center; }

.explorar-index h2 {
  margin-top: 1px;
  font-weight: 800;
  font-size: 4rem;
  padding: 10px; }

h1 {
  font-size: 6rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center; }

h2 {
  font-size: 4rem;
  margin: 2rem; }

/*Usando Extend*/
p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center; }

.img-container {
  background-image: url("../images/imagen5.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 500px; }

ul li {
  list-style: none; }

.finalnosotros {
  background-color: #f2e8cf; }

footer p {
  padding: 5px; }

/*Este MAPS esta siendo usado en el archivo 
contacto.html gracias a la clase .btn-adventure*/
.bg-adventure {
  background-color: #91162a; }

/*Views*/
#galeria img:hover {
  border: green 2px solid;
  background-color: #000000;
  transform: scale(1.1, 1.1); }

.navbar-nav {
  font-size: 4rem; }

a {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 0 2px; }

header a:after {
  content: "";
  position: absolute;
  background-color: pink;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s; }

header a:hover {
  color: antiquewhite; }

header a:hover:after {
  width: 100%; }

/*EXPLORAR*/
.explorar {
  margin: 8vh;
  text-align: center;
  align-content: center;
  justify-content: space-evenly; }

#explorar .img-container {
  width: 30%;
  height: 30%; }

#explorar .texto, #explorar p {
  text-align: center;
  justify-content: center; }

.explorar h1 {
  margin-top: 10px; }

.img-container {
  background-image: url("../images/imagen5.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px; }

/*FIN EXPLORAR*/
.productos-tienda {
  margin-top: 5vh;
  margin-bottom: 5vh; }

.items-tienda {
  margin-top: 1vh;
  margin-bottom: 1vh; }

form input {
  height: 5vh; }

form textarea {
  height: 10vh; }

form ::placeholder {
  font-size: 2em;
  letter-spacing: 0.3em; }

form label {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.form-check .form-check-input {
  font-size: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  justify-items: center; }

.form-check .form-check-label {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.form-control-md {
  margin-right: 10px; }

/*Componentes*/
.carousel-inner img {
  height: 85vh; }

.carousel-inner h5 {
  font-size: 40px;
  font-family: sans-serif;
  color: #eff3f8; }

.slider {
  margin-top: 50px;
  margin-bottom: 10px; }

.slider img {
  height: 70vh; }

.btn, .btn-final, .btn-adventure {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px; }

.btn-primary, .btn-final {
  background: #386641; }

.btn-final {
  margin-bottom: 15px; }

.btn:hover, .btn-final:hover, .btn-adventure:hover {
  cursor: pointer;
  box-shadow: 5px 7px 9px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.5s ease-in;
  background: #2980b9;
  color: #fff; }

/*USO DEL SELECTOR & PARA ANIDAR CLASES*/
.card {
  margin: 5px;
  width: 80%; }
  .card.card-img-top {
    width: 100%;
    height: 90%; }

.card:hover {
  cursor: pointer;
  box-shadow: 10px 15px 21px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.5s ease-in; }

.iconos-index a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20px; }

.iconos-index a i:hover {
  color: #69a7d4;
  transform: scale(1.3);
  transition: ease-in-out 0.1s; }

iframe {
  padding: 10px;
  max-width: 700px;
  margin: auto; }

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .explorar-contacto {
    margin-top: 4vh; }
  h1 {
    font-size: 5rem;
    font-weight: 600;
    padding: 2px;
    margin: 1rem; }
  h2 {
    font-size: 2.5rem;
    margin: 1rem; }
  p {
    font-size: 2rem;
    font-weight: 400; }
  .carousel-inner img {
    min-height: 50vh;
    height: 50%; }
  .slider img {
    height: 100%; } }
