/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: $font-title;
    cursor: pointer;
}

.img-fluid {
    margin: 3px;
}

.explorar-contacto{
   margin-top: 6vh;
}

/*Usando Mixin*/
.explorar-index {
    margin: 50px;
    @include flexo (center, space-evenly, center);
}

.explorar .img-container {
    width: 100%;
    height: 100%;
}

.explorar .texto {
    text-align: center;
    justify-content: center;
}

.explorar-index h2{
    margin-top: 1px;
    font-weight: 800;
    font-size: 4rem;
    padding: 10px;
}

h1{
    font-size: 6rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
}

h2{
    font-size: 4rem;
    margin: 2rem;
}

/*Usando Extend*/
p{
    @extend .texto;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.img-container {
    background-image: url("../images/imagen5.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    
}

ul li {
    list-style: none;
}


.finalnosotros{
    background-color: $bgsection;
}


footer p {
    padding: 5px;
}