/*Colores a usar en la web*/

$primary: rgb(24, 24, 24);
$secondary: rgb(167, 71, 71);
$alternative: rgb(85, 151, 142);
$text-color: rgb(33, 36, 39);
$adventure: rgb(145, 22, 42);

$colorbg: rgb(56, 102, 65);
$bgsection: rgb(242, 232, 207);
$colorresaltador: rgb(188, 71, 73);
$colorfontmenu: grey; 
$bgverde: rgb(56, 102, 65);
$colorazul: rgb(41,128,185);

/*Espaciados*/
$space-large : 6rem;
$space-medium : 2.4rem;
$space-small : 2rem;
$space-xsmall : 1rem;

/*Fonts*/
$font-family: "Montserrat", sans-serif;
$font-title: "Roboto", Verdana, Geneva, Tahoma, sans-serif;


