.carousel-inner img {
    height: 85vh;
}

.carousel-inner h5 {
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(239, 243, 248);
}

.slider {
    margin-top: 50px;
}

.slider img {
    height: 70vh;
}